{%- assign email = site.email | replace: ' at ', '@' | replace: ' dot ', '.' | replace: ' ', '' -%}
<header class="site-header">
  <nav class="site-nav" aria-label="Profile links">
    <a href="mailto:{{ email }}">email</a>
    {%- if site.github_username -%}
      <a target="_blank" rel="noopener" href="https://github.com/{{ site.github_username | cgi_escape }}">github</a>
    {%- endif -%}
    {%- if site.linkedin_username -%}
      <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/{{ site.linkedin_username | cgi_escape }}">linkedin</a>
    {%- endif -%}
    {%- for link in site.additional_links -%}
      <a target="_blank" rel="noopener" href="{{ link.url }}">{{ link.title | downcase | escape }}</a>
    {%- endfor -%}
  </nav>
</header>
